.app-footer {
  background: #111827;
  color: #fff;
  text-align: center;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 40px 20px 40px;
}

.app-header {
  color: #2a3042;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
}